*{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #000;
}

html {
    min-height: 100vh;
    position: relative;
}
main {
    margin-bottom: 15.625rem;   
}
h1 {
    color: #FFF;
}

/*navbar*/

#logo {
    position: absolute;
    top: .625rem;
    left: 9.5%;
}

#logo img {
    width: 90px;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    padding: 1.25rem;
    text-transform: uppercase;
    list-style: none;
}
#navbar li {
    margin: 0 .625rem;
    padding: .3125rem;
}

#navbar .nav-link {
    color: #FFF;
    text-decoration: none;
    transition: .5s;
    font-size: .875rem;
}

#navbar .nav-link:hover {
    color: #999;
}



/* HOME */

#title-container {
    margin-top: 1.875rem;
    text-align: center;
    margin-top: 1.875rem;
}

#title-container h1 {
    font-size: 3.125rem;
    
}


#title-container p {
    margin-top: .625rem;
    text-transform: uppercase;
    color: #999;
}

#posts-container {
    max-width: 75rem;
    margin: 0 auto;
    margin-top: 1.875rem;
    display: flex;
    flex-wrap: wrap;
}

.post-box:first-child{
    min-width: 100%;
}

.post-box {
    flex: 1 1 0;
   /* margin: 0 1%;*/
    margin-bottom: 20px;
}

.post-box:nth-child(3) {
    margin: 0 1%;
}

.post-box img {
    width: 100%;
}

.post-box .post-title {
    font-size: 1.5rem;
    margin: 10px 0;
}

.post-box  .post-title a {
    color: #fff ;
    transition: 5s;
} 

.post-box .post-title a:hover{
    color: #999;
}

.post-box .post-description {
    color: #666;
}

.tags-container {
    margin-top: .625rem;
}

.tags-container a{
    font-size: .875rem;
    color: #333;
    display: inline-block;
    margin-right: .3125rem;
}

/*CONTATO */
#titulo-contato {
    display:flex;
    flex-direction: column;
    margin-top: .625rem;
    align-items: center;
}

#contato-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.25rem;
}


/*POST*/

#post-container{
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto;
    grid-template-areas: "main sidebar";
    grid-gap: .625rem;
    padding-top: 1.875rem;
    max-width: 75rem;
    margin: 0 auto;
    margin-bottom:  250px;
}

.grid-content {
    grid-area: main;
}

#main-title {
    font-size: 2.25rem;
    margin-bottom: 1.875rem;
}

#post-description {
    font-style: italic;
    margin-bottom: 40px;
}

.post-contente {
    line-height: 1.8;
    margin-bottom: 40px;
}

.img-container {
    margin-bottom: 1.875rem;
}

.img-container img {
    width: 60%;
}

/*POST ASIDE */

#tags-title, #categories-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    background-color: #000;
    color: #FFF;
    text-align: center;
    padding: .625rem;
    font-weight: 300;
}

#tag-list , #categories-list {
    list-style: none;
}

#tag-list li , #categories-list li{
    margin-bottom: .625rem;
    color: #666;
}

#tag-list a, #categories-list a {
    color: #666;
    transition: .5s;
}

#tag-list a:hover, #categoires-list a:hover {
    color: #000;
}


/* Footer */

footer {
    width: 100%;
    position: absolute;
    bottom: 0%;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 50px 0;
}

/* MOBILE */

@media(max-width: 480px) {
    /*Home*/
    header {
        width: 100%;
    }

    #logo {
        display: block;
        position: relative;
        margin: 0 auto;
        left: 0;
        width: 50px;
    }

    #navbar {
        display: none;
    }

    #title-container {
        min-height: 100%;
        margin-top: 1.25rem;
    }
    #post-container {
        margin-top: 1.25rem;
    }

    .post-box {
        flex: 100% 1 0;
        padding: 15px;
        margin: 0;
    }

    /*POST*/

    #post-container {
        grid-template-columns: 100%;
        padding: .9375rem;
        grid-template-areas: "main" "sidebar";
    }

    .img-container img {
        width: 100%;
    }
}